cachetools
certifi
charset-normalizer
ffmpeg-python
future
google-api-core
google-auth
google-cloud-core
google-cloud-speech
google-cloud-translate
googleapis-common-protos
grpcio
grpcio-status
idna
proto-plus
protobuf
pyasn1
pyasn1_modules
PyQt5
PyQt5-Qt5
PyQt5_sip
requests
rsa
urllib3
transformers
sentencepiece
torch
sacremoses